//variables
$bar-color: #CCC;
$bar-full-color: red;

#container {
	max-width: 800px;
	border: 1px solid #CCC;
	text-align: center;
	padding: 10px;
}

.bar {
	text-align: center;
	width: 100%;
	overflow: hidden;
	margin: 2px 0;
	border: 1px solid #CCC;

	.bar__text {
		position: absolute;
	}

	&.selected {
		border: 1px solid red;
	}

	.bar__width {
		background-color: $bar-color;
		text-align: center;
		height: 20px;
		transition: width 1s;

		&.full {
			background-color: $bar-full-color;
		}
	}
}

.controls {
	margin-top: 10px;
}

.button {
	display: inline-block;
	border: 1px solid #CCC;
	padding: 0 10px;
	cursor: pointer;
	margin: 0 5px;

	&:hover {
		opacity: 0.8;
		border: 1px solid red;
	}
}
